#
# Config settings for kubernetes the hard way labs
#

K8S_ADMIN_USER=ocuser
K8S_ADMIN_SSH_KEY=~/.ssh/id_oshift

K8S_PKI_DIR=./pki

K8S_CLUSTER_IP_RANGE="192.168.1.0/24"

K8S_MASTER_HOSTNAME=k8s-master.jody.org
K8S_MASTER_IP_ADDR=192.168.1.246

K8S_CONTROLLER_COUNT=3
K8S_CONTROLLER=(
  k8s-ctrl1.jody.org
  k8s-ctrl2.jody.org
  k8s-ctrl3.jody.org
)

K8S_CONTROLLER_IP_ADDR=(
  192.168.1.247
  192.168.1.248
  192.168.1.249
)

K8S_WORKER_COUNT=3
K8S_WORKER=(
  k8s-comp1.jody.org
  k8s-comp2.jody.org
  k8s-comp3.jody.org
)

K8S_WORKER_IP_ADDR=(
  192.168.1.243
  192.168.1.244
  192.168.1.245
)
