#
# Config settings for kubernetes the hard way labs, configured for on-prem VMs.
#

# SSH credentials
K8S_ADMIN_USER=ocuser
K8S_ADMIN_SSH_KEY=~/.ssh/id_oshift

# Directory for storing generated certs & config files
K8S_PKI_DIR=./pki

# Good references for understanding K8s IP allocation::
# - https://cloud.google.com/kubernetes-engine/docs/how-to/alias-ips#cluster_sizing
# - https://cloud.google.com/kubernetes-engine/docs/how-to/alias-ips#secondary_ranges

############################
# NODE IP RANGE
############################
#
# Nodes (master, controllers, workers) have specific IP addresses assigned manually 
# from the on-prem subnet.
#
# The Master node is where the external load balancer runs.  This could also be 
# one of the controller nodes, but that seems unwise. Hostname must be DNS resolvable.
K8S_MASTER_HOSTNAME=k8s-master.jody.org
K8S_MASTER_IP_ADDR=192.168.1.246
KUBERNETES_PUBLIC_ADDRESS=${K8S_MASTER_IP_ADDR}

# Controller nodes - names must be DNS resolvable
K8S_CONTROLLER_COUNT=3
K8S_CONTROLLER=(
  k8s-ctrl1.jody.org
  k8s-ctrl2.jody.org
  k8s-ctrl3.jody.org
)
K8S_CONTROLLER_IP_ADDR=(
  192.168.1.247
  192.168.1.248
  192.168.1.249
)

# Worker (AKA compute) nodes - names must be DNS resolvable
K8S_WORKER_COUNT=3
K8S_WORKER=(
  k8s-comp1.jody.org
  k8s-comp2.jody.org
  k8s-comp3.jody.org
)
K8S_WORKER_IP_ADDR=(
  192.168.1.243
  192.168.1.244
  192.168.1.245
)

############################
# POD IP RANGE
############################
#
# Pod IP ranges are carved out of the Cluster IP range. Depending on the number and
# size of nodes, IP allocation can be tuned to support more or fewer maximum pods per node.
#
# Good reference: https://cloud.google.com/kubernetes-engine/docs/how-to/flexible-pod-cidr
#
K8S_CLUSTER_CIDR="10.200.0.0/16"
K8S_WORKER_POD_CIDR=(
  10.200.1.0/24
  10.200.2.0/24
  10.200.3.0/24
)

############################
# SERVICE CLUSTER IP RANGE
############################
#
# Service cluster IP range is a CIDR notation from which to assign service cluster IPs. 
# This must not overlap with any IP ranges assigned to nodes for pods.
K8S_SERVICE_CLUSTER_IP_RANGE="10.32.0.0/24"
K8S_CLUSTER_API_IP="10.32.0.1"	# Internal IP of API server - assigned automatically
K8S_CLUSTER_DNS_IP="10.32.0.10" # Internal IP of DNS server
